* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde-lima: #a8e06a;
  --verde-oscuro: #008E02;
  --amarillo-limon: #e5f236;
  --blanco: #ffffff;
  --gris-claro: #f0f0f0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

nav {
  background-color: var(--verde-oscuro);
}

/* Estilos del navbar */

.animacion {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
}

.animacion::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--amarillo-limon);
  transition: width 0.5s ease;
}

.animacion:hover::after {
  width: 95%;
}

/* Estilos del carousel */
.carousel-img {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(65%);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--blanco);
}

.titulo-principal {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.carousel-caption h2 {
  font-size: 1.5rem;
}

/* Estilos section 2  */
.section-2 {
  background-color: var(--gris-claro);
}
.section-2 h3 {
  color:var(--verde-oscuro);
  font-weight: bold;
}
.section-2 a {
  text-decoration: none;
}
.section-2 a:hover {
  color: blue;
}


/* Estilos de las card del section 2 */

.tarjeta-interna {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 12px grey;
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.tarjeta-externa {
  top: 0;
  position: absolute;
  background-color: #6f6f6f84;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 10px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta-interna:hover .tarjeta-externa {
  transition: all 0.5s;
  transform: rotateY(-80deg);
}

.tarjeta-interna__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}
/* Media queries correspondientes */

@media (max-width: 768px) {
  .titulo-principal {
    font-size: 1.5rem;
  }

  .carousel-caption h2 {
    font-size: 1.2rem;
  }
  .centrar{
    justify-content: center!important;
  }

}

@media (max-width: 576px) {
  .titulo-principal {
    font-size: 1.2rem;
  }
  .carousel-caption h2 {
    font-size: 1rem;
  }
}
